.carousel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 0 auto;
}

.carousel-button {
	font-size: 2rem;
	background: transparent;
	border: none;
	cursor: pointer;
	outline: none;
}

.carousel-content {
	display: flex;
}

.carousel-item {
	margin-right: 10px;
}