.card-product {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.card-product-img {
	background-color: #acabab;
	min-height: 180px;
	min-width: 180px;
}

.card-product-left-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.card-product-info {
	margin-left: 20px;
}

.card-product-name {
	margin-bottom: 8px;
}

.card-product-right-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
